@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto+Slab&display=swap');

body{
  width: 100% !important;
  margin-top: 0 !important;
  overflow-x: hidden;
  /* background-image: url('../static/img/back8.jpg');
  background-size: auto !important;
  background-repeat: repeat !important; */
  background-color: white !important;
}


.indrow{
  margin-top: 10%;
}

h3{
  color: #0099CC !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.imp{
    font-style: italic;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
    color: #262d33;
    display: inline !important;
}

.license{
  font-size: 12px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.mail{
  margin-left: 5%;
  padding-top: 2%;
}

/* vertical */
@media screen and (max-aspect-ratio: 13/9){
  .container-fluid{
    width: 100% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    background-color: white;
  }

}

/* horizontal */
@media screen and (min-aspect-ratio: 13/9){
  .container-fluid{
    /* width: 80% !important; */
    background-color: white;
  }


}
