@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto+Slab&display=swap');

body{
  width: 100% !important;
  margin-top: 0 !important;
  font-size: 13px;
  font-family: 'Roboto Slab', sans-serif;
  overflow-x: hidden;
}

.container-fluid{
  height: 100%;

  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.indrow{
  margin-top: 10%;
}

.shortrow{
  margin-top: 5%;
}

#paper_title{
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: #262d33;
  font-weight: 700;
  display: block !important;
  clear: right !important;
  min-width: 100% !important;
}

#paper_authors, #paper_metrics{
  font-size: 16px;
  display: inline-block !important;
  clear: left !important;
}

#paper_abstract{
  font-size: 14px;
  margin-top: 3%;
}

#same_author_sectit{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #262d33;
  font-weight: 700;
  margin-bottom: 1%;
}

.same_author_title{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #262d33;
  font-weight: 700;
}

.same_author_author, .similar_papers_author{
  font-size: 12px;
}

.same_author_title a{
  color: #262d33 !important;
}


#similar_papers_sectit{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #0099CC;
  font-weight: 700;
  margin-bottom: 1%;
}

.similar_papers_title{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #0099CC;
  font-weight: 700;
}

.similar_papers_title a{
  color: #0099CC !important;
}

li{
  /* list-style:none; */
  /* list-style-image: url('../static/img/pap2.png'); */

  margin: 0;
  padding: 10px 10px 10px 40px;
	list-style: none;
	background-image: url("../static/img/pap2.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}

.similar_papers_li, .same_author_li{
  margin-top: 1% !important;
}

.badge{
  margin-right: 10px;
  margin-top: 2%;
  background-color: #0099CC !important;
  font-family: 'Raleway', sans-serif !important;
}

#tags{
  min-width: 100%;
}

#paper_metrics{
  width: 100%;
}

.metric{
  margin-right: 1%;
}

#links{
  margin-top: 3%;
  min-width: 100%;
}

.paper_button{
  background-color: transparent !important;
  color: #262d33 !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  border: none !important;
  outline: none !important;
}

.paper_link{
  font-size: 12px;
  color: #262d33 !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  margin-right: 1%;
}

span, span a, .paper_link{
  float: left !important;
    display: flex !important;
}


span a{
  color: #262d33 !important;
  font-weight: 700;
}

.plaintext{
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  display: inline !important;
  float: left !important;
  padding: 0 !important;
  outline:none !important;
}

.plaintext:hover, .tagtext:hover{
  cursor: pointer;
}

.tagtext{
  background-color: transparent !important;
  color: white !important;
  border: none !important;
  display: inline !important;
  float: left !important;
  padding: 0 !important;
  outline:none !important;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700 !important;
}

#links{
  margin-top: 5% !important;
}

/* vertical */
@media screen and (max-aspect-ratio: 13/9){
  body{
    min-width: 100% !important;
    max-width: 300% !important;
  }
  .container-fluid{
    width: 100% !important;
    padding: 5% !important;
    background-color: white;
  }
}

/* horizontal */
@media screen and (min-aspect-ratio: 13/9){
  .container-fluid{
    /* width: 70% !important;
    padding-right: 20%;
    padding-left: 20%; */
    background-color: white;
  }
}
