
<nav id = "horiz-navbar" class="navbar navbar-expand-lg col-xs-12 col-md-12">
  <span>
    <a class="navbar-brand" href="{{ url_for('index')}}"><img src="{{ url_for('static', filename = 'img/logo.png')}}" width = "100px"></img></a>
  </span>

      <span><a class="nav-item nav-link active" href="{{ url_for('project')}}"><span class='navtext'>PROJECT | US</span></a></span>

      <span><a class="nav-item nav-link active" href="https://arcs.di.unito.it/"><img src="{{ url_for('static', filename = 'img/arcs_2.png')}}" width = "70px"></img></a></span>
      <span><a class="nav-item nav-link active" href="http://www.di.unito.it/do/home.pl"><img src="{{ url_for('static', filename = 'img/unito_2.png')}}" width = "100px"></img></a></span>

      <!-- <span><a class="nav-item nav-link" href="{{ url_for('methods')}}"><span class='navtext'>METHODS</span></a></span> -->
      <!-- <span><a class="nav-item nav-link" href="{{ url_for('index')}}"><span class='navtext'>ADD YOUR PAPER</span></a></span> -->


</nav>
