<div class="col-xs-12" id="adv-search">

                  <!-- <div class="input-group">
                    <input type="text" class="form-control" id="searchbar-search" placeholder="Search for papers..."/>
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                    </span>
                  </div> -->




                                <form class="form-horizontal" id="alf_form" action="{{ url_for('search') }}" method="POST">

                                  <div class="input-group" id="input-search-group">
                                      <input class="form-control py-2 border-right-0 border" type="search" value="" name="title" id="example-search-input" placeholder="Search in title...">
                                      <span class="input-group-append" >
                                          <div class="input-group-text bg-transparent" id="searchicon"><i class="fa fa-search"></i></div>
                                      </span>
                                  </div>



                                  <div class="collapse" id="collapseExample">
                                    <div class="card card-body">

                                      <div class="form-group">
                                        <label for="contain">Authors</label>
                                        <input class="form-control" type="text" id="author" name="author" placeholder="Author..."/>
                                      </div>

                                      <div class="row">
                                        <div class="col-xs-4 col-md-4">
                                          <label for="contain">Years</label>
                                          <div class="form-group" style="display: flex;">
                                              <input class="form-control inline col-md-5" type="text" name="year_min" placeholder="min" id="year_min"/>
                                              <input class="form-control inline col-md-5" type="text" name="year_max" placeholder="max" id="year_max"/>
                                          </div>
                                        </div>

                                        <div class="col-xs-4 col-md-4">
                                          <label for="contain">Citations</label>
                                            <div class="form-group" style="display: flex;">
                                              <input class="form-control inline col-md-5" type="text" name="cit_min" placeholder="min" id="cit_min"/>
                                              <input class="form-control inline col-md-5" type="text" name="cit_max" placeholder="max" id="cit_max"/>
                                            </div>
                                        </div>

                                        <div class="bootstrap-select-wrapper disabled col-xs-4 col-md-4">
                                          <label>Sort by</label> <br>
                                          <select title="sortby" name="sort_by"  id="selecter">
                                            <option value="citations">Citations</option>
                                            <option value="date">Latest</option>
                                            <option value="pagerank">Pagerank</option>
                                            <option value="hubs">Hub</option>
                                            <option value="authorities">Authority</option>
                                            <option value="betweenness">Betweenness</option>
                                          </select>
                                        </div>

                                      </div> <!-- row -->

                                      <div class="row">
                                        <br>
                                      </div>

                                      <div class="row">
                                        <div class='col-xs-6 col-md-6'>
                                          <div class="form-check">
                                            <input id="checkbox2" type="checkbox" name="in_abstract">
                                            <label for="checkbox2">Search also in abstracts</label>
                                          </div>
                                        </div>
                                        <div class='col-xs-6 col-md-6'>
                                        </div>
                                      </div>


                                    </div> <!-- card-body -->
                                  </div> <!-- collapseExample -->


                                  <div class="row"><br></div>

                                  <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                      <div class='advancedsearch' id='advancedsearch' data-toggle="collapse" role="button" aria-expanded="false" data-target="#collapseExample" aria-controls="collapseExample">
                                        <span id='adv-span'>+</span>
                                        <span>
                                          <a>
                                            &nbsp;Advanced Search
                                          </a>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-xs-0 col-md-6"></div>
                                    <div class="col-xs-6 col-md-3">
                                      <button type="submit" id="formbutton" class="btn btn-primary btn-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
                                    </div>
                                  </div>

                                </form>

            </div>
